

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: wheat;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-top: 0;
  }
  
   h2 {
    padding-top: 20px;
    color: #333;
    margin-left:750px ;
    /* text-align: center; */
  }
  
  .button-group h2 {
    margin-top: 0;
    margin-right: 20px;
  }

  /*... */

  .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mb-3 h1 {
    flex: 1;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button-group h2 {
    margin-right: 20px;
  }
  
  .button-group button {
    margin-left: 10px;
    margin-right: 30px;
margin-top: 50px;
  }
  
  .table {
    margin-top: 20px;
    margin-left: 270px;
    border: 2px;
  }
  
  .table thead th {
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid ;
    border: 2px;
  }
  
  .table tbody td {
    vertical-align: middle;
  }
  
  .btn {
    margin-bottom: 10px;
  }
  
  .custom-center {
    display: flex;
    justify-content: center;
}
